.ant-layout-content {
  padding: 16px;
}

.ant-card {
  margin: 10px;
  min-width: 200px;
}

.ant-card-body {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  flex-wrap: wrap;
}

.ant-radio-group {
  padding: 20px;
  font-size: x-large;
}

.ant-radio-group .ant-radio-wrapper span {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p.description {
  color: black;
  margin: 10px;
  text-align: left;
}

.ant-layout-content > iframe {
  height: 90vh;
  width: 100%
}