thead tr {
  background: grey;
  font-weight: bold;
  border-bottom: 1px solid black;
}
tr:nth-child(even) {
  background-color: lightgrey;
}
table {
  width: 100%;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 13px;
}

.ant-card {
  margin: 10px;
  min-width: 200px;
}

.ant-card-head {
  background-color: #001529;
  color: #cccccc;
  padding: 0px 16px;
  min-height: 0px;
}

.ant-card-head-title {
  padding: 8px 0px;
}

.ant-card-body {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  flex-wrap: wrap;
}

.isCurrent .store-card .ant-card-head {
  background-color: #1d71be;
}

.store-card.big {
  width: 500px
}


.ant-layout-content {
  padding: 10px;
}

.ant-radio-group {
  padding: 20px;
  font-size: x-large;
}

.ant-radio-group .ant-radio-wrapper span {
  font-size: large;
}

@media (max-width: 600px) {
  .ant-layout-header {
    padding: 0;
    text-wrap: nowrap;
  }
  .ant-layout-header h1 {
    display: none;
  }
}

@media (min-width: 601px) {
  .ant-layout-header .home-icon {
    display: none;
  }
}

iframe.embed {
  margin: 0;
  border: 0;
}