body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-layout-header h1 {
  color: #cccccc;
  font-size: 20px;
  display: inline;
  margin-right: 20px;
}

.ant-layout-header h3 {
  color: #cccccc;
  display: inline;
  padding: 10px
}

.ant-layout-header h3:hover {
  background-color: rgba(255,255,255,.2);
}

.ant-row {
  padding: 10px;
}

p.description {
  color: black;
  margin: 10px;
  text-align: left;
}

.store-card {
  width: 200px;
}

.ant-layout-content > iframe {
  height: 90vh;
  width: 100%
}

.rg-centered {
  text-align: center;
}