thead tr {
  background: grey;
  font-weight: bold;
  border-bottom: 1px solid black;
}
tr:nth-child(even) {
  background-color: lightgrey;
}
table {
  width: 100%;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 13px;
}

.ant-card {
  margin: 10px;
}

.ant-card-head {
  background-color: #001529;
  color: #cccccc;
}

.isCurrent .store-card .ant-card-head {
  background-color: #1d71be;
}
